.assistence-table {
    display: block;
    max-width: 800px;
    margin-bottom: 50px;
    overflow-x: scroll;
    .heading {
        padding-bottom: 10px;
        .date {
            padding: 0 10px 10px 10px;
        }
    }
    .students {
        .student {
            &:nth-child(odd) {
                background-color: $secondary-grey;
            }
            td {
                text-align: center;
                padding: 10px;
            }
        }
    }
}
