.primary-button {
    background-color: $secondary-green;
    transition-duration: 0.2s;

    &:hover {
        background-color: #d5db21;
    }
}

.secondary-button {
    background-color: $secondary-faded-green;
    transition-duration: 0.2s;

    &:hover {
        background-color: #5a9438;
    }
}

.selected-button {
    background-color: rgb(105, 200, 92);
}

.label {
    max-width: 150px;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5px;
}

.label-true {
    background-color: $secondary-faded-green;
}

.label-false {
    background-color: $red;
}
