.primary-button {
    background-color: $secondary-green;
    transition-duration: 0.2s;

    &:hover {
        background-color: #d5db21;
    }
}

.secondary-button {
    background-color: $secondary-faded-green;
    transition-duration: 0.2s;

    &:hover {
        background-color: #5a9438;
    }
}

.selected-button {
    background-color: rgb(105, 200, 92);
}
