.course-card {
    max-width: 350px;
    height: 200px;
    position: relative;
    background-color: #dbdbdb;
    border-radius: 10px;
    .course-header {
        border-radius: 10px 10px 0 0;
        background-color: rgb(119, 119, 119);
        padding: 10px;
        a {
            color: white;
            font-size: 18px;
            text-decoration: underline;
        }
    }
    .course-body {
        padding: 10px;
    }
    .course-footer {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 10px;
        text-align: right;
    }
}
