main {
    height: calc(100vh - 50px);
    display: grid;
    grid-template-columns: 10vw 90vw;
    .side-bar {
        background-color: #999999;
        .nav-buttons {
            padding-top: 30px;
            a {
                display: block;
                max-width: 125px;
                margin: 0 auto;
                margin-bottom: 5px;
            }
        }
    }
    .content {
        padding: 30px;
    }
}
