.form-card {
    max-width: 550px;
    margin-top: 70px;
    border: 2px solid rgb(209, 209, 209);
    border-radius: 10px;

    .form-header {
        padding: 10px;
        margin-bottom: 20px;
        background-color: rgb(209, 209, 209);
        border-radius: 8px 8px 0 0;

        h3 {
            margin: 0;
        }
    }

    .form-body {
        padding: 10px 20px;

        input {
            max-width: 400px;
        }
    }

    .form-footer {
        padding: 10px 20px 20px;
        border-radius: 0 0 8px 8px;
    }
}
