// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Tomillo Colors
$primary-green: #2e6951;
$primary-white: #ffffff;
$primary-black: #000000;

$secondary-grey: #e8e8e8;
$secondary-darkgrey: #4a4a4a;
$secondary-green: #e1e723;
$secondary-yellow: #f5c65d;
$secondary-blue: #55c1e9;
$secondary-pink: #cb9cc9;
$secondary-faded-green: #72a951;
